// Onboard 27MHz clock
IO_LOC "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// Onboard button S1, used as active-low reset
IO_LOC "rst_n_btn" 4;
IO_PORT "rst_n_btn" IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC "tmds_clk_p" 69;
IO_LOC "tmds_clk_n" 68;

IO_LOC "tmds_d_p[0]" 71;
IO_LOC "tmds_d_n[0]" 70;

IO_LOC "tmds_d_p[1]" 73;
IO_LOC "tmds_d_n[1]" 72;

IO_LOC "tmds_d_p[2]" 75;
IO_LOC "tmds_d_n[2]" 74;

// uart
IO_LOC "uart_tx" 17;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "uart_rx" 18;
IO_PORT "uart_rx" IO_TYPE=LVCMOS33 PULL_MODE=UP;
